// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');

.header {
  background-color: #e7e1d9;
  height: 50px;
}

.header > h1, a {
  font-weight: lighter;
}

.header > h1 {
  font-size: 32px;
  color: #2e2e2d;
}

.header a {
  text-decoration: none;
  color: grey;
  font-size: 18px;
}

.container > h1 {
  font-size: 40px;
  color: #009935;
  font-family: 'Roboto';
  box-shadow: inset 0px -20px 4px 0px rgba(220, 240, 220, 0.3);
  border-radius: 4px
}

.list-item-main > a {
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  color: #86897c;
  font-family: 'Roboto', italic;
}

.list-item-content {
  font-size: 16px;
  font-weight: lighter;
}
